<section class="auth">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-8">
          <div class="auth-card">
            <div class="auth-logo w-50 mx-auto text-center">
              <img src="../../assets/images/4 4.svg" alt="logo" class="w-75">
            </div>
            <h1> Reset  Password</h1>
            <p>Please Enter Your Otp  or Check Your Inbox</p>
            <form action="" [formGroup]="resetForm" (ngSubmit)="onResetPass(resetForm)">
             <!-- Email Input -->
             <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
              <input formControlName="email" name="email" type="email" class="form-control" a aria-label="email" aria-describedby="basic-addon1" placeholder="Enter your E-mail">
            </div>
            <div class="mx-1 valided" *ngIf="resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.value.length > 0)">
              <p *ngIf="resetForm.get('email')?.getError('required')">
                <i class="fa-solid fa-triangle-exclamation icon-alert"></i>
                Email is Required</p>
              <p *ngIf="resetForm.get('email')?.getError('email')">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Email inValid Format</p>
            </div>
<!-- OTP Input -->
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
  <input formControlName="seed" name="seed" type="text" class="form-control" a aria-label="seed" aria-describedby="basic-addon1" placeholder="OTP">
</div>
                   <!-- Password Input -->
     <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
      <input formControlName="password" name="password" [type]="hide1? 'password' : 'text' " class="form-control border-pass"  aria-label="password" aria-describedby="basic-addon1" placeholder="Password">
      <span (click)="hide1=!hide1" class="input-group-text border-pass"><i class="fa-solid" [class]="hide1?'fa-eye-slash' : 'fa-eye' "></i></span>  
  </div>
  <div class="mx-1 valided" *ngIf="resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.value.length > 0)">
    <p *ngIf="resetForm.get('password')?.getError('required')">
      <i class="fa-solid fa-triangle-exclamation"></i>
      password is Required</p>
    <p *ngIf="resetForm.get('password')?.getError('pattern')">
      <i class="fa-solid fa-triangle-exclamation"></i>
             Invalid Password
     </p>
  </div>
<!-- confirmPassword Input -->
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
  <input formControlName="confirmPassword" name="confirmPassword" [type]="hide2? 'password' : 'text' " class="form-control border-pass"  aria-label="password" aria-describedby="basic-addon1" placeholder="confirmPassword">
  <span (click)="hide2=!hide2" class="input-group-text border-pass"><i class="fa-solid" [class]="hide2?'fa-eye-slash' : 'fa-eye' "></i></span> 
</div>
<div class="mx-1 valided" *ngIf="resetForm.get('confirmPassword')?.errors && (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.value.length > 0)">
  <p *ngIf="resetForm.get('confirmPassword')?.getError('required')">
    <i class="fa-solid fa-triangle-exclamation"></i>
    confirmPassword is Required</p>
  <p *ngIf="resetForm.get('confirmPassword')?.getError('pattern')">
    <i class="fa-solid fa-triangle-exclamation"></i>
           Invalid confirmPassword
   </p>
</div>
             
              <button class="primary w-100" type="submit" [disabled]="resetForm.invalid">Reset Password</button>
              <div class="m-1 valided">
                <p class="mb-0" *ngIf="errMessage"><i class="fa-solid fa-triangle-exclamation"></i>
                  {{errMessage}}</p>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  