.view{
    .logo{
        img{
            width: 18% !important;
        }
    }
    li{
        color: #1f9b35;
        font-size: 17px;
        font-weight: 600;
        span{
            color: #1F263E;
        }
    }
}


