<section class="view p-2">
    <div class="d-flex justify-content-between m-2">
        <img src="../../.././../../assets/images/4 4.svg" class="w-25" alt="" srcset="">
        <a (click)="onNoClick()" role="button" class="close"><i class="fa-solid fa-xmark-circle fa-2x "></i></a>
      </div>
    <div class="container py-5">
       
       
        <div class="row">
            
        <div class="col-md-6">
            <div class="user-img rounded-3">
                <img [src]="data.imagePath?imgUrl + data.imagePath : emptyImg"
                 class="w-100 rounded-3" alt="user-image">
            </div>
        </div>
            <div class="col-md-6  d-flex align-items-center">
                <div class="user-caption">
                  <ul>
                    <li class="pb-2">UserName: <span>{{data.userName}}</span></li>
                    <li class="pb-2">Email: <span>{{data.email}}</span></li>
                    <li class="pb-2">Role: <span>{{data.group.name}}</span></li>
                    <li class="pb-2">Country: <span>{{data.country}}</span></li>
                    <li class="pb-2">Phone Number: <span>{{data.phoneNumber}}</span></li>
                  </ul>
                </div>
            </div>
               
            </div>
        </div>
   
</section>






