<section class="auth">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-8">
          <div class="auth-card">
            <div class="auth-logo w-50 mx-auto">
              <img src="../../assets/images/4 4.svg" alt="logo" class="w-100">
            </div>
            <h1>Forgot Your Password?</h1>
            <p>No worries! Please enter your email and we will send a password reset link </p>
            <form action="" [formGroup]="forgetPassForm" (ngSubmit)="onForgetPass(forgetPassForm)">
             <!-- Email Input -->
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
  <input formControlName="email" name="email" type="email" class="form-control" a aria-label="email" aria-describedby="basic-addon1" placeholder="Enter your E-mail">
</div>
<div class="mx-1 valided" *ngIf="forgetPassForm.get('email')?.errors && (forgetPassForm.get('email')?.touched || forgetPassForm.get('email')?.value.length > 0)">
  <p *ngIf="forgetPassForm.get('email')?.getError('required')">
    <i class="fa-solid fa-triangle-exclamation icon-alert"></i>
    Email is Required</p>
  <p *ngIf="forgetPassForm.get('email')?.getError('email')">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Email inValid Format</p>
</div>
<div class="links">
  <a  class="text-main" [routerLink]="['/auth']">Back to Login?</a>
</div>
              <button class="primary w-100" type="submit" [disabled]="forgetPassForm.invalid">Submit</button>
              <div class="m-1 valided">
                <p class="mb-0" *ngIf="errMessage"><i class="fa-solid fa-triangle-exclamation"></i>
                  {{errMessage}}</p>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  