<section class="home">
    <div class="container-fluid">
       <div class="row gy-3">
        <div class="col-12 px-0">
            <div class="home-content d-flex justify-content-between align-items-center">
                <div class="home-caption">
                    <h1>Welcome <span>{{userName}}</span></h1>
                    <p class="cap-p">This is a welcoming screen for the entry of the application ,<br> you can now see the options</p>
                </div>
                <div class="home-img">
                    <img src="../../../assets/images/Group 48102098.png" class="w-100" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="recipe-content d-flex justify-content-between align-items-center">
                <div class="recipe-caption">
                    <h2>Fill the <span>Recipe!</span></h2>
                    <p>you can now fill the meals easily using the table and form ,<br> click here and sill it with the table !</p>
                </div>
                <div class="btn-recipe">
                   <button type="button" class="primary fs-6 py-2 px-3">Fill Recipes <i class="fa-solid fa-arrow-right ps-1"></i></button>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>